.vscode/
.DS_Store

node_modules/
apps/web/node_modules/
apps/server/node_modules/
dist/
apps/web/dist/

.env
.env.local
.env.*.local
apps/web/.env.local
apps/web/.env.*.local

apps/server/checklists.json
apps/server/info.json
apps/server/user.json
apps/server/log.txt
