body{
    font-family: 'Libre Baskerville', serif;
}
.lato{
    font-family: 'Lato', sans-serif;
}

section{
    height: 700px;
}
.bg-blue{
    background-color: #006382;
}
.text-blue{
    color: #006382;
}
#mapid{
    height: 100%;
}
.nav-link:hover{
    border-bottom:4px solid white;
}

#nav-logo{
    height: 70px;
    transition: 0.4s;
}
.justGiving{
    background:#882c84;
    font-family: roboto,arial;
}
.justGiving:hover{
    background:#700066;
}
.btn-social{
    height:50px;
    width: 50px;
}


#welcome{
    background-image: url('assets/welcome.jpg');
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
}

#the-day-picture{
    background-image: url('assets/the-day.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
#the-organizers-picture{
    background-image: url('assets/the-organizers.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */  
}
#the-man-picture {
    background-image: url('assets/the-man.jpg');
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */  
}


